<div class="bg-white p-4 rounded shadow-sm">
  <h1 class="mb-3"><%= @genre.name %></h1>
  <%= link_to "Edit", edit_genre_path(@genre), class: "btn btn-outline-secondary" %>
  <%= link_to "Back", genres_path, class: "btn btn-light" %>
</div>
